<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" color="none" (click)="delete_Contact()">
      <ion-icon name="trash" color="primary"></ion-icon>
    </ion-button>
    <ion-button (click)="asignData()" color="none" slot="end">
      <ion-icon name="brush" color="primary"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid >
    <ion-row class="ion-justify-content-center" >
      <ion-col size="8" >
        <ion-avatar >
          <h1 class="nombre_Avatar">{{ (contact | async)?.Nombre.charAt(0).toLocaleUpperCase() }}</h1>
          <h1 class="apellido_Avatar" *ngIf="(contact | async)?.Apellidos !== ''">
            {{ (contact | async)?.Apellidos.charAt(0).toLocaleUpperCase() }}</h1>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <h2>{{ (contact | async)?.Nombre }} {{ (contact | async)?.Apellidos }}</h2>
    </ion-row>

    <ng-container *ngFor="let cell of cell" >
      <ion-button expand="block" color="dark" *ngIf="cell.Telefono !== '' ">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="call"></ion-icon>
            </ion-col>
            <ion-col size="10" >
              <h6 class="firs-label">
                {{ cell.Telefono.toString().substring(0, 3)}}
                {{ cell.Telefono.toString().substring(3, 6)}}
                {{ cell.Telefono.toString().substring(6, 10)}}</h6>
              <h6 class="second-label">{{cell.tipo_Telefono.toLocaleUpperCase()}}</h6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
    </ng-container>
  <ng-container *ngFor="let addres of address">
    <ion-button expand="block" color="dark" *ngIf="addres.Calle !== null ">
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="pin"></ion-icon>
          </ion-col>
          <ion-col size="10" >
            <h6 class="firs-label">{{  addres.Calle }} {{ addres.Ciudad }}</h6>
            <h6 class="second-label">{{  addres.Estado }} {{  addres.CP }}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ng-container>
      <ion-button expand="block" color="dark" *ngIf="(contact | async)?.Correo !== '' ">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="mail"></ion-icon>
            </ion-col>

            <ion-col class ="correo" size="11" >
              <h6>{{  (contact | async)?.Correo }} </h6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>

  <ng-container *ngFor="let fecha of fechas">
    <ion-button expand="block" color="dark" *ngIf="fecha.Fecha !== null">
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="bookmarks"></ion-icon>
          </ion-col>
          <ion-col size="10" >
            <h6 class="firs-label">{{ fecha.Fecha.substring(0, 10) }} {{fecha.Descripcion}}</h6>
            <h6 class="firs-label"> {{ fecha.tipo_Fecha }}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <p>{{fecha.Descripcion}}</p>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ng-container>

  </ion-grid>
</ion-content>
