<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title >Editar {{data2['Nombre']}}</ion-title>
    <ion-button type="submit" slot="end" color="none" (click)="updateCollections()" >
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row  class="ion-justify-content-center">
      <ng-container>
        <ion-button class="customButton" (click)="showAction()" >
          <ion-avatar *ngIf="photo === ''" >
            <ion-img src="./assets/images/avatar.png"></ion-img>
          </ion-avatar>
          <ion-avatar *ngIf="photo !== ''">
            <ion-img [src]="photo"></ion-img>
          </ion-avatar>
        </ion-button >
       </ng-container>
    </ion-row>

    <ng-container>
      <form [formGroup]="contac_Form">
        <ion-row>
          <ion-col size="1">
            <ion-icon name="contact"></ion-icon>
          </ion-col>
          <ion-col size="5">
            <ion-input *ngIf="data2['Prefijo'] !== ''" formControlName="Prefijo">
            </ion-input>
            <ion-input *ngIf="data2['Prefijo'] === ''" placeholder="Prefijo"
                       formControlName="Prefijo">
            </ion-input>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label>Circulo</ion-label>
              <ion-select *ngIf="data2['Circulo'] !== ''" formControlName="Circulo">
                <ion-select-option value="Otros">Otros</ion-select-option>
                <ion-select-option value="Amigos">Amigos</ion-select-option>
                <ion-select-option value="Trabajo">Trabajo</ion-select-option>
              </ion-select>
              <ion-select  *ngIf="data2['Circulo'] === ''" placeholder="Circulo"
                           formControlName="Circulo">
                <ion-select-option value="Otros">Otros</ion-select-option>
                <ion-select-option value="Amigos">Amigos</ion-select-option>
                <ion-select-option value="Trabajo">Trabajo</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>



        <ion-row >
          <ion-col size="1"></ion-col>
          <ion-input formControlName="Nombre"></ion-input>
        </ion-row>
        <ion-row >
          <ion-col size="1"></ion-col>
          <ion-input *ngIf="data2['Apellido'] !== ''" formControlName="Apellidos"></ion-input>
          <ion-input *ngIf="data2['Apellido'] === ''" placeholder="Apellidos"
                     formControlName="Apellidos"></ion-input>
        </ion-row>

        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-input *ngIf="data2['Apodo'] !== ''" formControlName="Apodo"></ion-input>
          <ion-input *ngIf="data2['Apodo'] === ''" placeholder="Apodo"
                     formControlName="Apodo"></ion-input>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-input *ngIf="data2['SitioWeb'] !== ''" formControlName="SitioWeb"></ion-input>
          <ion-input *ngIf="data2['SitioWeb'] === ''" placeholder="SitioWeb"
                     formControlName="SitioWeb"></ion-input>
        </ion-row>
      </form>
    </ng-container>



    <ion-row>
      <ion-col size="1">
        <ion-icon name="call"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" expand="full" size="small"
                    class="ion-text-capitalize" (click)="addTel()">Añadir teléfono</ion-button>
      </ion-col>
    </ion-row>

    <ng-container>
      <ion-row >
        <form [formGroup]="tel_Form">
          <ion-col size="1"></ion-col>
          <ion-col size="5">
            <ion-input *ngIf="showTel === true" type="number"
                       formControlName="Telefono"></ion-input>
            <ion-input *ngIf="showLocalTel" type="number"
                       placeholder="Telefono" formControlName="Telefono"></ion-input>
          </ion-col>

          <ion-col size="3">
            <ion-select *ngIf="showTel === true"
                        formControlName="tipo_Telefono">
              <ion-label>Tipo</ion-label>
              <ion-select-option value="movil">Movil</ion-select-option>
              <ion-select-option value="casa">Casa</ion-select-option>
              <ion-select-option value="trabajo">Trabajo</ion-select-option>
            </ion-select>

           <ion-select *ngIf="showLocalTel"
                        placeholder="Tipo" formControlName="tipo_Telefono">
              <ion-label>Tipo</ion-label>
              <ion-select-option value="movil">Movil</ion-select-option>
              <ion-select-option value="casa">Casa</ion-select-option>
              <ion-select-option value="trabajo">Trabajo</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size="2">
            <ion-button *ngIf = 'showTel' color="none"  size="small"
            (click)="deleteTel()">
              <ion-icon name="close-circle-outline" color="danger"></ion-icon>
            </ion-button>
            <ion-button *ngIf = 'showLocalTel' color="none"  size="small"
                        (click)="deleteTel()">
              <ion-icon name="close-circle-outline" color="danger"></ion-icon>
            </ion-button>
          </ion-col>
        </form>
      </ion-row>
    </ng-container>


        <ion-row>
          <ion-col size="1">
            <ion-icon name="pin"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" expand="full" size="small"
                        class="ion-text-capitalize" (click)="addDir()">Añadir dirección</ion-button>
          </ion-col>
        </ion-row>


        <ion-row>
          <form [formGroup]="dir_Form">
            <ion-col size="1"></ion-col>
            <ion-col size="4">
              <ion-input *ngIf="showDir" type="number" formControlName="Numero"></ion-input>
              <ion-input *ngIf="showLocalDir" type="number" placeholder="Numero ext."
                         formControlName="Numero"></ion-input>
            </ion-col>
            <ion-col size="4">
              <ion-input *ngIf="showDir" type="number" formControlName="CP"></ion-input>
              <ion-input *ngIf="showLocalDir" type="number" placeholder="Codigo postal"
                         formControlName="CP"></ion-input>
            </ion-col>

            <ion-col size="2">
                <ion-button *ngIf="showDir"
                        color="none" size="small" (click)="deleteDir()">
                  <ion-icon name="close-circle-outline" color="danger"></ion-icon>
                </ion-button>
              <ion-button *ngIf="showLocalDir"
                      color="none" size="small" (click)="deleteDir()">
                <ion-icon name="close-circle-outline" color="danger"></ion-icon>
              </ion-button>
            </ion-col>
          </form>
          <form [formGroup]="dir_Form">
            <ion-col size="1">
            </ion-col>
            <ion-col size="5">
              <ion-input *ngIf="showDir" type="text" formControlName="Calle"></ion-input>
              <ion-input *ngIf="showLocalDir" type="text" placeholder="Calle"
                         formControlName="Calle"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-input *ngIf="showDir" type="text" formControlName="Ciudad"></ion-input>
              <ion-input *ngIf="showLocalDir" type="text" placeholder="Ciudad"
                         formControlName="Ciudad"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-input *ngIf="showDir" type="text" formControlName="Estado"></ion-input>
              <ion-input *ngIf="showLocalDir" type="text" placeholder="Estado"
                         formControlName="Estado"></ion-input>
            </ion-col>
          </form>
        </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-icon name="mail"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" expand="full" size="small"
                    class="ion-text-capitalize" (click)="addCorreo()">Añadir Correo</ion-button>
      </ion-col>
    </ion-row>


    <ion-row >
      <form [formGroup]="contac_Form" >
        <ion-col size="1"></ion-col>
        <ion-col size="8">
          <ion-input *ngIf="showCorreo" type="correo" formControlName="Correo"></ion-input>
          <ion-input *ngIf="showLocalCorreo" type="correo" placeholder="Ingresa tu correo"
                     formControlName="Correo"></ion-input>
        </ion-col>

        <ion-col size="2">
          <ion-button *ngIf="showCorreo"
                  color="none"  size="small" (click)="deleteCorreo()">
            <ion-icon name="close-circle-outline" color="danger"></ion-icon>
          </ion-button>
          <ion-button *ngIf="showLocalCorreo"
                  color="none"  size="small" (click)="deleteCorreo()">
            <ion-icon name="close-circle-outline" color="danger"></ion-icon>
          </ion-button>
        </ion-col>
      </form>
    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-icon name="calendar"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" expand="full" size="small"
                    class="ion-text-capitalize" (click)="addFecha()">Fecha</ion-button>
      </ion-col>
    </ion-row>

    <ion-row >
      <form [formGroup]="fecha_Form">
        <ion-col size="1"></ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-datetime *ngIf="showfecha"
                    displayFormat="DD MMM YYYY" min="1900-01-00"
                          doneText='Hecho' cancel-text="Cancelar"
                          formControlName="Fecha" max="2070-12-31"
                          ></ion-datetime>
            <ion-datetime *ngIf="showLocalFecha"
                          displayFormat="DD MMM YYYY" min="1900-01-00"
                          doneText='Hecho' cancel-text="Cancelar"
                          placeholder="Pulsa Aquí" max="2070-12-31"
                          formControlName="Fecha"
            ></ion-datetime>
          </ion-item>

        </ion-col>
        <ion-col size="4">
          <ion-select *ngIf="showfecha" formControlName="tipo_Fecha">
            <ion-label>Tipo</ion-label>
            <ion-select-option value="Cumpleaños">Cumpleaños</ion-select-option>
            <ion-select-option value="Recordatorio">Recordatorio</ion-select-option>
            <ion-select-option value="Aniversario">Aniversario</ion-select-option>
          </ion-select>
          <ion-select *ngIf="showLocalFecha" placeholder="Tipo" formControlName="tipo_Fecha">
            <ion-label>Tipo</ion-label>
            <ion-select-option value="Cumpleaños">Cumpleaños</ion-select-option>
            <ion-select-option value="Recordatorio">Recordatorio</ion-select-option>
            <ion-select-option value="Aniversario">Aniversario</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col size="2">
          <ion-button color="none" size="small" *ngIf="showfecha"
                      (click)="deleteFecha()">
            <ion-icon name="close-circle-outline" color="danger"></ion-icon>
          </ion-button>
          <ion-button color="none" size="small" *ngIf="showLocalFecha"
          (click)="deleteFecha()">
            <ion-icon name="close-circle-outline" color="danger"></ion-icon>
          </ion-button>
        </ion-col>
      </form>
      <form [formGroup]="fecha_Form">
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-textarea *ngIf="showfecha" formControlName="Descripcion"></ion-textarea>
          <ion-textarea *ngIf="showLocalFecha" placeholder="Descripcion" formControlName="Descripcion"></ion-textarea>
        </ion-col>
        <ion-col size="1"></ion-col>
      </form>
    </ion-row>

  </ion-grid>
</ion-content>
