<ion-header >
  <ion-toolbar class="ion-padding">
    <ion-searchbar animated="true" autocomplete="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-list>
  <ion-item>
    <ion-avatar>
      <ion-icon name="person"></ion-icon>
    </ion-avatar>
    <ion-label >Social</ion-label>
    <ion-checkbox [(ngModel)]="social_Truee" ></ion-checkbox>
  </ion-item>
  <ion-list *ngFor="let contact of contacts">
    <ion-item  *ngIf="contact.Circulo === 'Social' && social_Truee === true">
      <ion-avatar slot="start" >
        <ion-img src="./assets/images/avatar.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{contact.Nombre}}</h2>
        <h3>{{contact.Correo}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

      <ion-item>
        <ion-avatar>
          <ion-icon name="logo-freebsd-devil"></ion-icon>
        </ion-avatar>
        <ion-label >Amigos</ion-label>
        <ion-checkbox [(ngModel)]="amigos_Truee" ></ion-checkbox>
      </ion-item>
    <ion-list *ngFor="let contact of contacts">
      <ion-item  *ngIf="contact.Circulo === 'Amigos' && amigos_Truee === true">
        <ion-avatar slot="start" >
          <ion-img src="./assets/images/avatar.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{contact.Nombre}}</h2>
          <h3>{{contact.Correo}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>

      <ion-item>
        <ion-avatar>
          <ion-icon name="body"></ion-icon>
        </ion-avatar>
        <ion-label >Trabajo</ion-label>
        <ion-checkbox [(ngModel)]="trabajo_Truee" ></ion-checkbox>
      </ion-item>
      <ion-list *ngFor="let contact of contacts">
        <ion-item  *ngIf="contact.Circulo === 'Trabajo' && trabajo_Truee === true">
          <ion-avatar slot="start" >
            <ion-img src="./assets/images/avatar.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{contact.Nombre}}</h2>
            <h3>{{contact.Correo}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>

  </ion-list>



  <ion-grid>
    <ion-row justify-content-end >
      <ion-col size="2">
        <ion-fab-button color="light" (click)="create_Contact()">
          <ion-icon name="add" ></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
