<ion-header >
  <ion-toolbar >
    <ion-searchbar animated="true" autocomplete="true"
    search-icon="menu" placeholder="Buscar contactos"
    (ionChange)="buscarUsuario($event)"
    (ionFocus)="focus()" (ionCancel)="cancel()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list *ngIf="change_State">
    <ng-container *ngFor="let busqueda of busqueda | searchName:texto_busqueda">
      <ion-item lines="inset" button [routerLink]="['/details-contact', busqueda.id]">
        <ion-avatar slot="start" >
          <ion-img src="./assets/images/avatar.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{busqueda.Nombre}} {{busqueda.Apellidos}}</h2>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>


  <ion-list *ngIf="!change_State">

  <ion-item >
    <ion-avatar>
      <ion-icon name="person"></ion-icon>
    </ion-avatar>
    <ion-label >Social</ion-label>
    <ion-checkbox [(ngModel)]="social_Truee "></ion-checkbox>
  </ion-item>

    <ng-container *ngFor="let otro of otros">
        <ion-item *ngIf="social_Truee ===  true"
                  lines="inset" button [routerLink]="['/details-contact', otro.id]">
          <ion-avatar slot="start" >
            <ion-img src="./assets/images/avatar.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{otro.Nombre}} {{otro.Apellidos}}</h2>
          </ion-label>
        </ion-item>
    </ng-container>


      <ion-item>
        <ion-avatar>
          <ion-icon name="logo-freebsd-devil"></ion-icon>
        </ion-avatar>
        <ion-label >Amigos</ion-label>
        <ion-checkbox [(ngModel)]="amigos_Truee" ></ion-checkbox>
      </ion-item>

  <ng-container  *ngFor="let amigo of amigos">
    <ion-item  *ngIf="amigos_Truee === true"
               lines="inset" button [routerLink]="['/details-contact', amigo.id]">
      <ion-avatar slot="start" >
        <ion-img src="./assets/images/avatar.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{amigo.Nombre}} {{amigo.Apellidos}}</h2>
      </ion-label>
    </ion-item>
  </ng-container>

      <ion-item>
        <ion-avatar>
          <ion-icon name="body">s</ion-icon>
        </ion-avatar>
        <ion-label >Trabajo</ion-label>
        <ion-checkbox [(ngModel)]="trabajo_Truee" ></ion-checkbox>
      </ion-item>

  <ng-container *ngFor="let trabajo of trabajos">
    <ion-item  *ngIf="trabajo_Truee === true"
               lines="inset" button [routerLink]="['/details-contact', trabajo.id]">
      <ion-avatar slot="start" >
        <ion-img src="./assets/images/avatar.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{trabajo.Nombre}} {{trabajo.Apellidos}}</h2>
      </ion-label>
    </ion-item>
  </ng-container>

  </ion-list>

  <ion-fab  vertical="center" horizontal="center" slot="fixed" edge>
    <ion-fab-button color="light" routerLink="/create">
                    <!--href="/create"-->
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
