ion-header {
  --ion-background-color:#34495E;
  --ion-text-color: var(--ion-color-light);
}

ion-content {
  --ion-background-color: #85929E;
  --ion-text-color: var(--ion-color-light);
}
ion-button {
  --ion-text-color: var(--ion-color-light);
  --ion-background-color: #85929E;

}
.position {

}
