ion-header {
  --ion-background-color:#000000;
  --ion-text-color: var(--ion-color-light);


}
ion-header > ion-title {
}

ion-searchbar {
  --background: #505050;
  --color: #ffffff;
  --icon-color: #ffffff;
  --placeholder-color: #ffffff;
  --placeholder-font-weight: 50px;
  padding: 10px 15px 0px 15px;
  border-radius: 50px;


}


ion-content {
  --ion-background-color: #000000;
  --ion-text-color: var(--ion-color-light);
}
ion-button {
  --ion-text-color: var(--ion-color-light);
  --ion-background-color: #85929E;

}
ion-checkbox {
  --background: #fff;
  --background-checked: #fff;
  --checkmark-color: var(--ion-color-primary);
  --border-style: none;
}

ion-list {
  display: grid;
  flex-flow: row;
}

ion-fab {
display: block;
}
