<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title >Nuevo contacto</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!create_Form.valid" type="submit" (click)="new_contact(create_Form.value)">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row  class="ion-justify-content-center">
      <ion-avatar>
        <ion-img [src]="photo"></ion-img>
      </ion-avatar>
    </ion-row>
    <ion-row class="ion-justify-content-center" >
      <ion-button color="dark" (click)="take_a_Photo()">Agregar foto</ion-button>
    </ion-row>


    <form [formGroup]="create_Form">
      <ion-row>
        <ion-col size="1">
          <ion-icon name="contact">
          </ion-icon></ion-col>
        <ion-col>
          <ion-input placeholder="Nombre"
          formControlName="nombre"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          <ion-icon name=""></ion-icon>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Apellidos" formControlName="apellidos"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          <ion-icon name=""></ion-icon>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Correo" formControlName="correo"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          <ion-icon name=""></ion-icon>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Apodo" formControlName="apodo"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          <ion-icon name=""></ion-icon>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Circulo" formControlName="circulo" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          <ion-icon name=""></ion-icon>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Prefijo" formControlName="prefijo" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          <ion-icon name=""></ion-icon>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Sitio Web" formControlName="sitioWeb" ></ion-input>
        </ion-col>
      </ion-row>
        <!--<p>{{create_Form.status}}</p>-->
      <ion-row>
        <ion-col size="1">
          <ion-icon name="call"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" expand="full" size="small"
                      class="ion-text-capitalize" (click)="add_Controltel()">Añadir teléfono</ion-button>
        </ion-col>

        <ion-list lines="none" *ngIf="tel_Counter > 0" class="ion-padding">
          <form [formGroup]="tel_Form">
            <ion-item *ngFor="let control of tel_Form.controls | keyvalue">
              <ion-input type="number" placeholder="Ingresa el número telefónico"
                         [formControlName]="control.key" ></ion-input>
              <ion-select>
                <ion-select-option value="movil">Movil</ion-select-option>
                <ion-select-option value="casa">Casa</ion-select-option>
                <ion-select-option value="trabajo">Trabajo</ion-select-option>
              </ion-select>
              <ion-button color="light" (click)="delete_Controltel(control)">
                <ion-icon name="close-circle-outline" color="dark"></ion-icon>
              </ion-button>
            </ion-item>
          </form>
        </ion-list>
      </ion-row>

      <ion-row>
        <ion-col size="1">
          <ion-icon name="mail"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" expand="full" size="small" class="ion-text-capitalize">Añadir correo electrónico</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
          <ion-icon name="pin"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" expand="full" size="small"
                      class="ion-text-capitalize" (click)="add_Controldir()">Añadir direccion</ion-button>
        </ion-col>

        <ion-list lines="none" *ngIf="dir_Counter> 0" class="ion-padding">
          <form [formGroup]="dir_Form">
            <ion-item *ngFor="let control of dir_Form.controls | keyvalue">
              <ion-input type="number" placeholder="Codigo Postal"
                         [formControlName]="control.key" ></ion-input>
              <ion-select>
                <ion-select-option value="movil">Movil</ion-select-option>
                <ion-select-option value="casa">Casa</ion-select-option>
                <ion-select-option value="trabajo">Trabajo</ion-select-option>
              </ion-select>
              <ion-button color="light" (click)="delete_Controldir(control)">
                <ion-icon name="close-circle-outline" color="dark"></ion-icon>
              </ion-button>
            </ion-item>
          </form>
        </ion-list>
      </ion-row>


      <ion-row>
        <ion-col size="1">
          <ion-icon name="calendar"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" expand="full" size="small" class="ion-text-capitalize">Añadir fechas importantes</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="globe"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" expand="full" size="small" class="ion-text-capitalize" >Sitio web</ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="1">
          <ion-icon name="bookmarks"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-button size="small" color="dark" expand="full" class="ion-text-capitalize">Notas</ion-button>
        </ion-col>
      </ion-row>
    </form>


  </ion-grid>


</ion-content>
