<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
      <ion-title >Nuevo contacto</ion-title>
      <ion-button [disabled]="!create_Form.valid" type="submit"
                  (click)="save_Contact(create_Form.value)"
                  slot="end" color="none" >
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row  class="ion-justify-content-center">
      <ng-container>
        <ion-button class="customButton" (click)="showAction()" >
          <ion-avatar *ngIf="photo === ''" >
            <ion-img src="./assets/images/avatar.png"></ion-img>
          </ion-avatar>
          <ion-avatar *ngIf="photo !== ''">
            <ion-img [src]="photo"></ion-img>
          </ion-avatar>
        </ion-button >

      </ng-container>

    </ion-row>
    <ion-row class="ion-justify-content-center" >
      <ion-button color="dark" (click)="take_a_Photo()">Agregar foto</ion-button>
    </ion-row>

    <form [formGroup]="create_Form">
      <ion-row>
        <ion-col size="1">
          <ion-icon name="contact"></ion-icon>
        </ion-col>
        <ion-col size="5">
          <ion-input placeholder="Prefijo" formControlName="Prefijo">
          </ion-input>
        </ion-col>

        <ion-col size="6">
          <ion-item>
              <ion-label>Circulo</ion-label>
              <ion-select formControlName="Circulo" placeholder="Circulo">
                <ion-select-option value="Otros">Otros</ion-select-option>
                <ion-select-option value="Amigos">Amigos</ion-select-option>
                <ion-select-option value="Trabajo">Trabajo</ion-select-option>
              </ion-select>
            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1"></ion-col>
          <ion-input placeholder="Nombre"
                     formControlName="Nombre"></ion-input>
      </ion-row>
      <ion-row >
        <ion-col size="1"></ion-col>
        <ion-input placeholder="Apellidos" formControlName="Apellidos" ></ion-input>
      </ion-row>

      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-input placeholder="Apodo" formControlName="Apodo"></ion-input>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-input placeholder="Sitio Web" formControlName="SitioWeb" ></ion-input>
      </ion-row>
    </form>
    <ion-row>
      <ion-col size="1">
        <ion-icon name="call"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" expand="full" size="small"
                    class="ion-text-capitalize" (click)="add_Controltel()">
          Añadir teléfono</ion-button>
      </ion-col>
    </ion-row>


    <ion-row  *ngIf="show">
        <form [formGroup]="tel_Form">
          <ion-col size="1"></ion-col>
          <ion-col size="5">
              <ion-input type="number" placeholder="Teléfono"
                         formControlName="Telefono"></ion-input>
          </ion-col>

         <ion-col size="3">
              <ion-select formControlName="tipo_Telefono" placeholder="Tipo">
                <ion-label>Tipo</ion-label>
                <ion-select-option value="movil">Movil</ion-select-option>
                <ion-select-option value="casa">Casa</ion-select-option>
                <ion-select-option value="trabajo">Trabajo</ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col size="2">
              <ion-button color="none" (click)="delete_Controltel()" size="small">
                <ion-icon name="close-circle-outline" color="danger"></ion-icon>
              </ion-button>
          </ion-col>
        </form>
    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-icon name="pin"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" expand="full" size="small"
                    class="ion-text-capitalize" (click)="add_Controldir()">
          Añadir dirección</ion-button>
      </ion-col>
    </ion-row>


    <ion-row  *ngIf="showDir">
      <form [formGroup]="dir_Form">
          <ion-col size="1"></ion-col>
          <ion-col size="4">
            <ion-input type="number" placeholder="No. Ext"
                       formControlName="Numero"></ion-input>
          </ion-col>
          <ion-col size="4">
            <ion-input type="number" placeholder="C.P."
                       formControlName="CP"></ion-input>
          </ion-col>

          <ion-col size="2">
            <ion-button color="none" (click)="delete_Controldir()" size="small">
              <ion-icon name="close-circle-outline" color="danger"></ion-icon>
            </ion-button>
          </ion-col>
      </form>
      <form [formGroup]="dir_Form">
        <ion-col size="1">
        </ion-col>
        <ion-col size="5">
          <ion-input type="text" placeholder="Calle"
                     formControlName="Calle"></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input type="text" placeholder="Ciudad"
                     formControlName="Ciudad"></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input type="text" placeholder="Estado"
                     formControlName="Estado"></ion-input>
        </ion-col>
      </form>


    </ion-row>

    <ion-row>
      <ion-col size="1">
        <ion-icon name="mail"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" expand="full" size="small"
                    class="ion-text-capitalize" (click)="add_Correo()">Añadir Correo</ion-button>
      </ion-col>
    </ion-row>


    <ion-row  *ngIf="showCorreo">
      <form [formGroup]="correo_Form">
        <ion-col size="1"></ion-col>
        <ion-col size="8">
          <ion-input type="text" placeholder="Correo electronico"
                     formControlName="Correo"></ion-input>
        </ion-col>

        <ion-col size="2">
          <ion-button color="none" (click)="delete_Controlcorreo()" size="small">
            <ion-icon name="close-circle-outline" color="danger"></ion-icon>
          </ion-button>
        </ion-col>
      </form>
    </ion-row>


    <ion-row>
      <ion-col size="1">
        <ion-icon name="calendar"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" expand="full" size="small"
                    class="ion-text-capitalize" (click)="add_fecha()">Fecha</ion-button>
      </ion-col>
    </ion-row>

    <ion-row  *ngIf="showfecha">
      <form [formGroup]="fecha_Form">
        <ion-col size="1"></ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-datetime displayFormat="DD MMM YYYY" min="1900-01-00"
                          doneText='Hecho' cancel-text="Cancelar"
                          placeholder="Pulsa Aquí" max="2070-12-31"
                          formControlName="Fecha"></ion-datetime>
          </ion-item>

        </ion-col>
        <ion-col size="4">
          <ion-select formControlName="tipo_Fecha" placeholder="Tipo">
            <ion-label>Tipo</ion-label>
            <ion-select-option value="Cumpleaños">Cumpleaños</ion-select-option>
            <ion-select-option value="Recordatorio">Recordatorio</ion-select-option>
            <ion-select-option value="Aniversario">Aniversario</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col size="2">
          <ion-button color="none" (click)="delete_Controlfecha()" size="small">
            <ion-icon name="close-circle-outline" color="danger"></ion-icon>
          </ion-button>
        </ion-col>
      </form>
      <form [formGroup]="fecha_Form">
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-textarea formControlName="Descripcion"></ion-textarea>
        </ion-col>
        <ion-col size="1"></ion-col>
      </form>
    </ion-row>

  </ion-grid>
</ion-content>
