<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title >Nuevo contacto</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="3">
        <ion-avatar>
          <ion-img src="./assets/images/avatar.png"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>

  <ion-row>
    <ion-input placeholder="Nombre"></ion-input>
  </ion-row>
    <ion-row>
      <ion-input placeholder="Segundo nombre"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input placeholder="Apellido"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input placeholder="Sufijo"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input placeholder="Apodo"></ion-input>
    </ion-row>


  </ion-grid>



</ion-content>
