
ion-header {
  --ion-background-color: #000000;
  --ion-text-color: var(--ion-color-light);


  ion-toolbar > ion-button  {
    display: flex;
    margin:  0 0 0 0;
    height: 48px;
    width: 48px;
  }
  ion-toolbar > ion-button > ion-icon {
    display: flex;
    height: 100%;
    width: 100%;
  }
}



ion-content {
  --ion-background-color: #000000;
  --ion-text-color: var(--ion-color-light);

  //avatar y boton agregar foto
  ion-grid > ion-row {
    ion-avatar {
      margin: 10px 0 10px 0;
    }
    ion-button {
      margin: 0 0 10px 0;
    }
  }

  form > ion-row {
    align-items: center;
  }

  form > ion-row > ion-col {
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    max-height: 38px;
  }

  form > ion-row > ion-col > ion-icon {
    display: inline-flex;
    width: 100%;
    height: 21px;

  }

  form > ion-row > ion-col > ion-col {
    width: 33%;
    height: 100%;
    padding: 0 0 0 0;
  }


  form > ion-row > ion-col > ion-item {
    display: -webkit-inline-flex;
    position: relative;
    width: 100%;
    max-height: 38px;
  }

  form > ion-row > ion-col > ion-item > ion-select {
    max-width: 100%;
    width: 100%;
    padding: 0 0 10px 0;
    text-align: center;

    :host(.item-interactive), :host(.item-lines-full) {
      --border-width: 0 0 1px 0;
      --show-full-highlight: 1;
      --show-inset-highlight: 1;
    }
  }

  form > ion-row > ion-col > ion-col > ion-label {
    position: absolute;
    padding-bottom: 10px;
  }

  //Aqui termina el formulario contacto

  //Botones
  ion-grid > ion-row > ion-col {
    padding: 0 0 0 0;
    font-size: 16px;

    ion-icon {
      width: 100%;
      height: 21px;
      padding-top: 7px;
    }

    ion-button {
      color: white;
      :host {
        margin-left: 0;
        margin-right: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }

    }
  }


  //Formularios desplegables

  ion-grid > ion-row {
    display: flow;
    form {
      max-height: 38px;
      display: inline-flex;
      width: 100%;

      ion-col {
        padding: 0 0 0 0;
        height: 100%;
        align-content: center;
      }
    }

  }

ion-grid > ion-row > form > ion-col > ion-button {
  --border-radius: 80px;
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  ion-icon {
    width: 70%;
    height: 70%;
  }

}
  ion-grid > ion-row > form > ion-col > ion-input {
    position: center;
    --padding: 0 0 0 0;
    display: compact;

    input {
      display: inline-flex;

    }
  }


  //Boton y formulario de dirección
  ion-grid > ion-row > form > ion-row {
    display: flow;
    width: 100%;

  }

  ion-datetime {
    padding: 5px 0 12px 0;
  }
  ion-textarea {
    background-color: #1d1d1d;
    border-radius: 15px;
  }

}











