ion-header {
  --ion-background-color:#000000;
  --ion-text-color: var(--ion-color-light);
}

ion-content {
  --ion-background-color: #000000;
  --ion-text-color: var(--ion-color-light);
}

ion-icon {
  width: 5vw;
  height: 5vh
}
ion-button {
  --color: #FFFFFF;
  --padding:start;
}