<ion-header>
  <ion-toolbar>
    <ion-title>pruebas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none" *ngIf="playerCount > 0">
    <form [formGroup]="myForm">
      <ion-item *ngFor="let control of myForm.controls | keyvalue">
        <ion-input required type="text" [formControlName]="control.key" placeholder="player name..."></ion-input>
        <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
      </ion-item>
    </form>
  </ion-list>
  <ion-button expand="full" color="light"
              (click)="addControl()" color="danger"
                >Add Player</ion-button>


  <ion-button expand="block" color="dark">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="call"></ion-icon>
        </ion-col>
        <ion-col size="10" >
          <h6 class="firs-label">221 279 6918</h6>
          <h6 class="second-label">Movil</h6>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="mail"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-button>

</ion-content>
